/* You can add global styles to this file, and also import other style files */
.title {
    color: rgb(49, 187, 153);
    text-transform: uppercase;
    text-align: center;
}

body {
    background: rgb(49, 49, 49);
    min-height: 100%;
}
