tr{
    border: 1px solid black;
}

tr{
    padding: 5px;
}:first-child {
    width: 15px;
}:nth-child(2){
    width: 135px;
}:last-child{
    width: 50px;
}

table {
    width: 90%;
    margin:  10px auto;
}