<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First App</title>
  </head>
  <body>
    <div class="row">
      <div class="col-4 offset-4 border">
        <h1 class="text-center">Intefrity by Al</h1>
      </div>
    </div>

    <div class="grid">
      <div class="grid__left-top"></div>
      <div class="grid__right-top"></div>
      <div class="grid__left-bottom"></div>
      <div class="grid__right-bottom"></div>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
