<% layout('./layout/page') -%>
<% block('title', 'Ho-ho-ho!') -%>

<p class="lead">There will be chat.</p>
<script src="/vendor/bower_components/socket.io-client/dist/socket.io.js"></script>

<div id="room">
    <ul></ul>
    <form>
        <input  class="form-control" autocomplete="off" autofocus placeholder="Message..."/>
    </form>
</div>

<script>
    const socket = io('', {
        reconnectionDelay: 500,
        reconnectionAttempts: 10
        // reconnection: false
    });
    let form = $('#room form');
    let ul = $('#room ul');
    let input = $('#room input');

    socket
        .on('message', (username, text) => {
            printMessage(username + "> " + text);
        })
        .on('join', (username)=>{
            printStatus(username + " enter chat")
        })
        .on('leave', (username)=>{
            printStatus(username + " leaved chat")
        })
        .on('connect', function(){
            printStatus('Connected'),
            form.on('submit', sendMessage);
            input.prop('disabled', false);
        })
        .on('disconnect', function(){
            printStatus('Connection Lost');
            form.off('submit', sendMessage);
            input.prop('disabled', true);
            // this.emit('error');
        })
        .on('errorevent', function(reason){
            if(reason == 'handshake unauthorized'){
                printStatus('you loged out');
            } 
            // else {
            //     setTimeout(function(){
            //         socket.open();
            //     }, 500);
            // }
        })
        .on('logout', function(){
            location.href = '/';
        })
        .on('reconnect_failed', function(){
            printStatus('Connection Died!');
        });

    function reconnect(){
        socket.io.once('connect_error', function(){
            setTimeout(reconnect, 500);
        });
        socket.open();
    }

    function sendMessage(e){
        e.preventDefault();

        let text = input.val();
        input.val('');
        socket.emit('message', text, ()=>{
            printMessage("Me> " + text);
        });
    }

    function printMessage(text){
        $('<li>', {text: text}).appendTo(ul);
    }

    function printStatus(status){
        $('<li>').append($('<i>').text(status)).appendTo(ul);
    }

</script>