* {
  transition: all 0.25s ease-in-out;
}
.active{
  color: mediumpurple;
}

nav{
  padding: 2rem;
  font-size: 1.5rem;
  color: whitesmoke;
  text-transform: uppercase;
  & ul{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    list-style: none;

    & li{
      cursor: pointer;
      &:hover,&:focus,&:active{
        color: mediumpurple;
      }
    }
  }
}
.container{
  margin: 0 auto;
  width: 80%;
  min-height: 50vh;
  border: 1px solid lightgreen;
  position: relative;
}

.home-link{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 1rem;
  &:hover,&:focus,&:active{
    color: rgb(49, 187, 153);
  }
}
